@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #3b1c11;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.55;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  background-color: #972700;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.left-side {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item:hover,
.social a:hover {
  opacity: 0.75;
  transition: opacity 150ms ease;
}

.nav-item:hover img {
  transform: rotate(180deg);
}

.nav-item img {
  width: 10px;
  height: 10px;
  filter: invert(1);
  transform: rotate(0deg);
  transition: 100ms ease;
}

.nav-list,
.social {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.social {
  justify-self: flex-end;
}

.logo img {
  width: 8rem;
}

.social a img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #972700;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

.linea-separador {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 0.5rem;
  background-color: #972700;
}

.seccion-hotel-turismo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion-hotel-turismo img {
  width: 25rem;
}

.seccion-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion {
  max-width: 70%;
  margin-bottom: 1rem;
}

.descripcion p {
  text-align: center;
  margin-bottom: 1rem;
}

.datos {
  background-color: #edd9d3;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.datos p {
  text-align: center;
  margin-bottom: .5rem;
  color: #3b1c11;
}

.datos p:last-child {
  margin-bottom: 0;
}

.datos a {
  font-size: 1rem;
  color: #a97c6c;
}

.datos a:hover {
  color: #6e493b;
  text-decoration: underline;
}

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 2rem;
}

.img-card {
  border-radius: 10px;
  overflow: hidden;
  transform: scale(1);
  box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
  transition: 100ms ease;
  cursor: pointer;
}

.img-card img {
  width: 100%;
  height: 100%;
}

.img-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgb(0 0 0 / 30%);
}

.servicios {
  background-color: #edd9d3;
  width: 70%;
  padding: 2.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3b1c11;
}

.servicios .titulo {
  font-weight: 500;
  margin-bottom: .75rem;
}

.servicios ul {
  margin-left: 1.15rem;
}

.video {
  aspect-ratio: 16/9;
  width: 65%;
  background-color: #40302a;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 10;
  cursor: pointer;
}

.video .video-title {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: 500;
}

.video .play-svg {
  width: 10%;
  filter: invert(1);
}
