@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Global styles */
body::-webkit-scrollbar {
  width: .65rem;
}
 
body::-webkit-scrollbar-track {
  background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #64473d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #3b1c11;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.55;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

/* Nav */

nav {
  background-color: #972700;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.left-side {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item:hover,
.social a:hover {
  opacity: 0.75;
  transition: opacity 150ms ease;
}

.nav-item:hover img {
  transform: rotate(180deg);
}

.nav-item img {
  width: 10px;
  height: 10px;
  filter: invert(1);
  transform: rotate(0deg);
  transition: 100ms ease;
}

.nav-list,
.social {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.social {
  justify-self: flex-end;
}

.logo img {
  width: 8rem;
}

.social a img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.sub-nav {
  position: absolute;
  display: none;
}

/* Main (Table and hotels) */

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #972700;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

.seccion-hotel-turismo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.seccion-hotel-turismo img {
  width: 25rem;
}

.seccion-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
}

.seccion-hotel:last-child {
  margin-bottom: 0;
}

.seccion-hotel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: #972700;
  top: -4.5rem;
  border-radius: 5rem;
}

.descripcion {
  max-width: 70%;
  margin-bottom: 1rem;
}

.descripcion p {
  text-align: center;
  margin-bottom: 1rem;
}

.datos {
  background-color: #edd9d3;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.datos p {
  text-align: center;
  margin-bottom: .5rem;
  color: #3b1c11;
}

.datos p:last-child {
  margin-bottom: 0;
}

.datos a {
  font-size: 1rem;
  color: #a97c6c;
}

.datos a:hover {
  color: #6e493b;
  text-decoration: underline;
}

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 2rem;
}

.img-card {
  border-radius: 10px;
  overflow: hidden;
  transform: scale(1);
  box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
  transition: 100ms ease;
  cursor: pointer;
  height: 11.5rem;
}

.img-card img {
  width: 100%;
  height: 100%;
}

.img-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgb(0 0 0 / 30%);
}

.servicios {
  background-color: #edd9d3;
  width: 70%;
  padding: 2.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3b1c11;
}

.servicios .titulo {
  font-weight: 500;
  margin-bottom: .75rem;
}

.servicios ul {
  margin-left: 1.15rem;
}

.video {
  aspect-ratio: 16/9;
  width: 65%;
  background-color: #40302a;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 10;
  cursor: pointer;
}

.video .video-title {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: 500;
}

.video .play-svg {
  width: 10%;
  filter: invert(1);
}

/* Ending */
.gracias {
  background-image: url("img/parallax-bg.jpg");
  background-attachment: fixed;
  padding: 3rem;
}

.gracias h2,
.gracias p {
  color: white;
  text-align: center;
}

.gracias h2 {
  font-weight: 500;
}

.gracias .tinogasta-img {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.accesos {
  margin: 3rem 0;
}

.accesos h2{
  font-weight: 400;
  font-size: 2rem;
  color: #972700;
}

.accesos .card-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.accesos .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.accesos .card:hover .icon-div {
  background-color: #b67661;
}

.accesos .card h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #972700;
}

.accesos .card p {
  font-size: 0.875rem;
  color: #c48e7c;
}

.accesos .card .icon-div {
  width: 4.375rem;
  height: 4.375rem;
  background-color: #972700;
  transition: 150ms ease;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accesos .card .icon-div img {
  filter: invert(1);
  width: 50%;
}

.visite-la-pagina {
  background-color: #972700;
  padding: 2rem;
}

.visite-la-pagina .flex-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visite-la-pagina .flex-div .left {
  width: 50%;
}

.visite-la-pagina h2, 
.visite-la-pagina p {
  color: white;
  text-align: left;
  font-weight: 400;
}

.visite-la-pagina h2 {
  margin-bottom: .5rem;
}

.visite-la-pagina p {
  margin: 0;
}

.visite-la-pagina .btn {
  font-size: 1.25rem;
  display: inline-block;
  padding: 1em 1.5em;
  border-radius: 5rem;
  border: 2px solid white;
  font-weight: 500;
  transition: 150ms ease;
}

.visite-la-pagina .btn:hover {
  background-color: white;
  color: #972700;
}
